<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.code.testsys.mapper.AdminMapper">

    <resultMap id="queMapper" type="cn.code.testsys.domain.Question">
        <id column="id" property="id"/>
        <result column="problem" property="problem"/>
        <result column="score" property="score"/>
        <result column="type" property="type"/>
        <result column="degree" property="degree"/>
        <collection property="course" ofType="cn.code.testsys.domain.Course">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="startDate" property="startDate"/>
            <result column="count" property="count"/>
        </collection>

    </resultMap>

    <select id="selectCour" resultType="cn.code.testsys.domain.Course">
        select * from course
    </select>

    <select id="selectQues" resultMap="queMapper">
        select ques.*,course.* from ques,course
        where ques.courID=course.id
    </select>

    <select id="selectByQueId" resultMap="queMapper">
        select ques.*,course.* from ques,course
        where ques.courID=course.id and ques.id=#{queId}
    </select>

</mapper>